<header class="header-background">
  <div class="logo">
    <div class="logo_left-background">
      <p class="logo_text">M</p>
    </div>
    <div class="logo_right-background">
      <p class="logo_text">G</p>
    </div>
  </div>
  <div class="header_right-block">
    <div class="notifications">
      <img src="../../assets/images/header/notificationBell.png" alt="notification bell">
    </div>
    <div class="authorization">
      <p class="authorization_sign-in">Sign In</p>
      <p class="authorization_slash">/</p>
      <p class="authorization_sign-up">Sign Up</p>
    </div>
  </div>
</header>
