<div class="gallery">
  <div class="folder-information">
    <div class="folder-information_info">
      <p class="folder-name">{{currentFolderName}}</p>
      <div class="info-block folder-size">
        <p class="left-block">Folder size:</p>
        <p class="right-block">{{currentFolderSize}} mb</p>
      </div>
      <div class="info-block numbers-photos">
        <p class="left-block">Number of photos: </p>
        <p class="right-block">{{numberImagesCurrentFolder}}</p>
      </div>
      <div class="info-block folder-creation-date">
        <p class="left-block">Folder creation date: </p>
        <p class="right-block">{{creationDateCurrentFolder}}</p>
      </div>
    </div>
    <p class="delete-folder">Delete folder</p>
  </div>
  <app-images></app-images>
</div>
