.background {
  position: absolute;
  width: 1920px;
  height: 1090px;
  top: 0;
  left: 0;
  background: url("../../assets/images/home-page/Background.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.wrapper {
  text-align: center;
  margin-top: 485px;
  margin-right: 1px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  -webkit-user-select: none;
}

.btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  margin: 30px;
  padding: 11px 16px 10px 16px;
  border-radius: 10px;
  border: none;
  background: #0047FF;
  color: white;
  transition: background 0.2s;
  -webkit-user-select: none;
}

.btn:hover {
  background: #003fdc;
}
